<input type="email" {{ render_to_attributes(form.email).addClass('icon-help', 'page-title', 'system-status-general-info__item') }}>
<input type="submit" {{ render_to_attributes(form.submit).addClass('site-branding__name') }}>
{{ form|without('email', 'submit') }}
<h3>Help:</h3>
<ul>
  <li>Use bartik, to see the effect of the example classes applied.</li>
  <li>Inspect the email and submit inputs, notice how the element attributes get their data from Drupal just fine. Classes coming from Drupal core (required) as well as from buildForm() are preserved.</li>
  <li>Enable twig debug, then use DevTools to see how email and submit inputs are fully rendered in the current template (form-level), by-passing the element-level template for each.</li>
  <li>Using DevTools, notice that hidden elements critical for Drupal accepting the submission (form_id, form_build_id, token - if authenticated) are present.</li>
  <li>Submit the form, to see how validation and submit handlers work just fine.</li>
</ul>
